AssetFoodTemplateSet(
    templates: [
        FoodTemplate(
            name: "food.tuna_pasta_sauce",
            sensations: [Salty, Umami, Tender],
            fill_factor: 70.0,
            texture: "textures/food/tuna_pasta_sauce.png",
            size: (96.0, 64.0),
        ),
        FoodTemplate(
            name: "food.hot_pot",
            sensations: [Spicy, Juicy, Tender, Umami],
            fill_factor: 85.0,
            texture: "textures/food/hotpot.png",
            size: (96.0, 96.0),
        ),
        FoodTemplate(
            name: "food.olive_pizza",
            sensations: [Salty, Crunchy, Umami],
            fill_factor: 75.0,
            texture: "textures/food/olive_pizza.png",
            size: (70.0, 64.4),
        ),
        FoodTemplate(
            name: "food.mushroom_meat_pizza",
            sensations: [Umami, Tender, Crunchy, Salty],
            fill_factor: 75.0,
            texture: "textures/food/mushroom_meat_pizza.png",
            size: (87.0, 64.0),
        ),
        FoodTemplate(
            name: "food.glizzy",
            sensations: [Salty, Juicy, Tender],
            fill_factor: 50.0,
            texture: "textures/food/glizzy.png",
            size: (64.0, 54.4),
        ),
        FoodTemplate(
            name: "food.kim_bap_carrot",
            sensations: [Crunchy, Juicy, Umami, Salty],
            fill_factor: 60.0,
            texture: "textures/food/kim_bap.png",
            size: (86.4, 64.0 ),
        ),
        FoodTemplate(
            name: "food.watermelon",
            sensations: [Juicy, Sweet, Fizzy],
            fill_factor: 30.0,
            texture: "textures/food/watermelon.png",
            size: (72.0, 64.0),
        ),
        FoodTemplate(
            name: "food.hsp",
            sensations: [Salty, Spicy, Fatty, Crunchy],
            fill_factor: 80.0,
            texture: "textures/food/hsp.png",
            size: (105.6, 64.0),
        ),
        FoodTemplate(
            name: "food.lobster",
            sensations: [Tender, Juicy, Sweet, Umami],
            fill_factor: 70.0,
            texture: "textures/food/lobster.png",
            size: (76.0, 64.0),
        ),
        FoodTemplate(
            name: "food.strawberry",
            sensations: [Sweet, Juicy, Astringent],
            fill_factor: 20.0,
            texture: "textures/food/strawberry.png",
            size: (44.16, 64.0),
        ),
        FoodTemplate(
            name: "food.egg_waffle",
            sensations: [Sweet, Crunchy, Elastic],
            fill_factor: 40.0,
            texture: "textures/food/egg_waffle.png",
            size: (90.88, 64.0),
        ),
        FoodTemplate(
            name: "food.clam_chowder",
            sensations: [Creamy, Salty, Umami, Tender],
            fill_factor: 65.0,
            texture: "textures/food/clam_chowder.png",
            size: (67.8, 64.0),
        ),
    ]
)
