TextDatabase(
    values: {
        English: {
            "global.poop": "poop",
            "global.back": "Back",
            "global.draw": "Draw",
            "global.victory": "Victory",
            "global.defeat": "Defeat",
            "ui.pet_panel.no_thought": "Head empty",
            "ui.pet_panel.species": "Species:",
            "ui.pet_panel.age": "Age:",
            "pet.starter_name": "Sar-dip",
            "main_menu.title": "Sar-dips",
            "main_menu.play_button": "Play",
            "minigame_select.tic_tac_toe": "Tic Tac Toe",
            "minigame_select.sprint": "Sprint",
            "minigame_select.higher_lower": "Higher or Lower",
            "minigame_select.four_in_row": "Join Four",
            "species.blob": "Blob",
            "species.pawn": "Pawn",
            "species.wasguard": "Was Guard",
            "species.computiee": "Computiee",
            "species.tallguy": "Tall Guy",
            "species.beerie": "Beerie",
            "species.humbie": "Humbie",
            "species.karaokeguy": "Karaoke Guy",
            "species.kat": "Kat",
            "species.wrestele": "Wrestele",
            "species.ballotee": "Ballotee",
            "species.fireelemantal": "Fire Elemantal",
            "species.walker": "Walker",
            "species.garbie": "Garbie",
            "species.skelotn": "Skelotn",
            "species.notummy": "No Tummy",
            "species.rockelemental": "Rock Elemental",
            "species.warterelemental": "Warter Elemental",
            "species.gunie": "Gunie",
            "species.Bisct": "Bisct",
            "dialogue.object_life_is_good": "My life as an inanimate object is good.",
            "dialogue.object_hungry_no_food": "I'm hungry, but i'm just an object",
            "dialogue.object_poop_every_where": "There is poop everywhere!",
            "dialogue.was_guard_nothing": "I'm over here waiting for the voice from the outer world",
            "dialogue.was_guard_sad": "This was not in the texts",
            "food.tuna_pasta_sauce": "Tuna Pasta Sauce",
            "food.hot_pot": "Hot Pot",
            "food.olive_pizza": "Olive Pizza",
            "food.mushroom_meat_pizza": "Musroom Meat Pizza",
            "food.glizzy": "Glizzy",
            "food.kim_bap_carrot": "Gimbap Carrot",
            "food.watermelon": "Watermelon",
            "food.hsp": "Halal Snack Pack",
            "food.lobster": "Lobster",
            "food.strawberry": "Strawberry",
            "food.egg_waffle": "Egg Waffle",
            "food.clam_chowder": "Clam Chowder",
        },
        Korean: {
            "global.poop": "똥",
            "global.back": "뒤로",
            "global.draw": "무승부",
            "global.victory": "승리",
            "global.defeat": "패배",
            "ui.pet_panel.no_thought": "생각 없음",
            "ui.pet_panel.species": "종:",
            "ui.pet_panel.age": "나이:",
            "main_menu.title": "사르-딥스",
            "main_menu.play_button": "플레이",
            "minigame_select.tic_tac_toe": "틱택토",
            "minigame_select.sprint": "단거리 달리기",
            "minigame_select.higher_lower": "높거나 낮음",
            "minigame_select.four_in_row": "네 개 연결",
            "species.blob": "블랍",
            "species.pawn": "폰",
            "species.wasguard": "왓스가드",
            "species.computiee": "컴퓨티",
            "species.tallguy": "톨 가이",
            "species.beerie": "비리",
            "species.humbie": "험비",
            "species.karaokeguy": "카라오케 가이",
            "species.kat": "캣",
            "species.wrestele": "레슬틀",
            "dialogue.object_life_is_good": "무생물로서의 내 생활은 좋다.",
            "dialogue.object_hungry_no_food": "배고픈데, 나는 그저 물건일 뿐이야",
            "dialogue.object_poop_every_where": "여기저기에 똥이 있어!",
            "food.tuna_pasta_sauce": "참치 파스타 소스",
            "food.hot_pot": "핫팟",
            "food.olive_pizza": "올리브 피자",
            "food.mushroom_meat_pizza": "버섯 미트 피자",
            "food.glizzy": "글리지",
            "food.kim_bap_carrot": "김밥 당근",
            "food.watermelon": "수박",
            "food.hsp": "할랄 스낵 팩",
            "food.lobster": "랍스터",
            "food.strawberry": "딸기",
            "food.egg_waffle": "에그 와플",
            "food.clam_chowder": "클램 차우더",
        },
    }
)