TextDatabase(
    values: {
        English: {
            "global.poop": "poop",
            "global.back": "Back",
            "global.draw": "Draw",
            "global.victory": "Victory",
            "global.defeat": "Defeat",

            "ui.pet_panel.no_thought": "Head empty",
            "ui.pet_panel.species": "Species:",
            "ui.pet_panel.age": "Age:",

            "names.default.given.1": "Peter",
            "names.default.given.2": "Andrew",
            "names.default.given.3": "Jacob",
            "names.default.given.4": "John",
            "names.default.given.5": "Phillip",
            "names.default.given.6": "Bartholomew",
            "names.default.given.7": "Matthew",
            "names.default.given.8": "Thomas",
            "names.default.given.9": "James",
            "names.default.given.10": "Simon",
            "names.default.given.11": "Judas",
            "names.default.given.12": "Jude",
            
            "names.default.surname.1": "Sar-dip",


            "main_menu.title": "Sar-dips",
            "main_menu.play_button": "Play",
            "minigame_select.tic_tac_toe": "Tic Tac Toe",
            "minigame_select.sprint": "Sprint",
            "minigame_select.higher_lower": "Higher or Lower",
            "minigame_select.four_in_row": "Join Four",

            "species.blob": "Blob",
            "species.pawn": "Pawn",
            "species.wasguard": "Was Guard",
            "species.computiee": "Computiee",
            "species.tallguy": "Tall Guy",
            "species.beerie": "Beerie",
            "species.humbie": "Humbie",
            "species.karaokeguy": "Karaoke Guy",
            "species.kat": "Kat",
            "species.wrestele": "Wrestele",
            "species.ballotee": "Ballotee",
            "species.fireelemantal": "Fire Elemantal",
            "species.walker": "Walker",
            "species.garbie": "Garbie",
            "species.skelotn": "Skelotn",
            "species.notummy": "No Tummy",
            "species.rockelemental": "Rock Elemental",
            "species.warterelemental": "Warter Elemental",
            "species.gunie": "Gunie",
            "species.bisct": "Bisct",
            "species.blockhead": "Block Head",
            "species.richecow": "Riche Cow",

            "dialogue.object_life_is_good": "My life as an inanimate object is good.",
            "dialogue.object_hungry_no_food": "I'm hungry, but i'm just an object",
            "dialogue.object_poop_every_where": "There is poop everywhere!",
            "dialogue.was_guard_nothing": "I'm over here waiting for the voice from the outer world",
            "dialogue.was_guard_sad": "This was not in the texts",
            "dialogue.kat_hungry_egg_waffle": "God I love Egg waffles",

            "food.tunapastasauce": "Tuna Pasta Sauce",
            "food.hotpot": "Hot Pot",
            "food.olivepizza": "Olive Pizza",
            "food.mushroommeat_pizza": "Musroom Meat Pizza",
            "food.glizzy": "Glizzy",
            "food.kimbapcarrot": "Gimbap Carrot",
            "food.watermelon": "Watermelon",
            "food.hsp": "Halal Snack Pack",
            "food.lobster": "Lobster",
            "food.strawberry": "Strawberry",
            "food.eggwaffle": "Egg Waffle",
            "food.clamchowder": "Clam Chowder",
            "food.cheeseburger": "Cheese Burger",
            "food.apricotcrownpastry": "Apricot Crown Pastry",
            "food.tahinitoast": "Tahini Toast",
            "food.tunabroccolipizza": "Tuna Broccoli Pizza",
            "food.chickenpicklesspinach": "Chicken Pickles Spinach",
        },
        Korean: {
        },
    }
)